﻿@model Nabavki.ViewModel.ArticalViewModel
@{
    ViewBag.Title = "AddArtical";
}

<h2>AddArtical</h2>
<div class="form-group">
    @Html.LabelFor(m => m.Artikli.Partner.IdFirma)
    @Html.DropDownListFor(m => m.Artikli.Partner.IdFirma,
       new SelectList(Model.Firma, "IdFIrma", "Naziv"), "Одбери Firma", new { @id = "firma", @class = "form-control", @onchange = "CallChangefunc()" })
</div>

@using (Html.BeginForm("SaveArtical", "Admin"))
{

    <div>
        @Html.LabelFor(d => d.Artikli.Sifra)
        @Html.TextBoxFor(d => d.Artikli.Sifra, new { @class = "form-control" })
    </div>
    <div>
        @Html.LabelFor(d => d.Artikli.Naziv)
        @Html.TextBoxFor(d => d.Artikli.Naziv, new { @class = "form-control" })
    </div>
  
    <div >
        @Html.LabelFor(m => m.Artikli.Partner.IdPartner)
        @Html.DropDownListFor(m => m.Artikli.IdPartner,
       new SelectList(Enumerable.Empty<SelectListItem>(), "IdPartner", "Naziv"),
              "---Одбери Партнер---",
              new { @class = "form-control" ,@id= "Partner" })
       
    </div>

    <br />
    <input type="submit" name="Save" class="btn btn-success" value="Save" />
}
<br />
<div class="form-group">
    @Html.ActionLink("Back", "Index", "Home", null, new { @class = "btn btn-primary" })
</div>
<script>
    var CallChangefunc = function () {
        var stateId = $("#firma").val();
        $.ajax({
            url: '/Admin/GetPartnerList',
            type: "POST",
            dataType: "JSON",
            data: { Firma: stateId },
            success: function (result) {
                console.log(result)
                $("#Partner").html(""); // clear before appending new list
                $.each(result, function (i, partner) {
                    $("#Partner").append(
                        $('<option></option>').val(partner.IdPartner).html(partner.Naziv));
                });
            }
        });
    }



</script>