﻿@model Nabavki.Models.Firma

<h2>Додавање на Фирма</h2>


@using (Html.BeginForm("SaveFirma", "Admin"))
{
    <div>
        @Html.LabelFor(d => d.Naziv)
        @Html.TextBoxFor(d => d.Naziv, new { @class = "form-control" })
    </div>

    <br />
    <input type="submit" name="Save" class="btn btn-success" value="Save" />
}
<br />
<div class="form-group">
    @Html.ActionLink("Back", "FirmaIndex", "Admin", null, new { @class = "btn btn-primary" })
</div>