﻿@model IEnumerable<Nabavki.Models.Artikli>

<h2>Артикли</h2>
<br />
<div class="row">
    @using (Html.BeginForm())
    {
        <div class="col-md-6">
            <div class="">@Html.TextBox("searchString", null, new { @class = "form-control", @placeholder = "Барај" })           
                <button class="btn btn-success" type="submit"><span class="glyphicon glyphicon-search"></span></button>  
</div>
        </div>
    }

    <div class="col-md-6 text-right">
        @Html.ActionLink("Додади Артикал", "AddArtical", "Admin", null, new { @class = "btn btn-primary" })
    </div>


</div>

<br />
<div class="col-md-12">
    <table class="table table-hover">
        <thead class="thead-dark">
            <tr>
                <th>@Html.DisplayNameFor(m => m.IdArtikli)</th>
                <th>@Html.DisplayNameFor(m => m.Sifra)</th>
                <th>@Html.DisplayNameFor(m => m.Naziv)</th>
                <th>@Html.DisplayNameFor(m => m.IdPartner)</th>
                <th>@Html.DisplayNameFor(m => m.Partner.IdFirma)</th>
                <th></th>
            </tr>
        </thead>

        @foreach (var item in Model)
        {
            <tr>
                <td>@Html.DisplayFor(modelItem => item.IdArtikli)</td>
                <td>@Html.DisplayFor(modelItem => item.Sifra)</td>
                <td>@Html.DisplayFor(modelItem => item.Naziv)</td>
                <td>@Html.DisplayFor(modelItem => item.Partner.Naziv)</td>
                <td>@Html.DisplayFor(modelItem => item.Partner.Firma.Naziv)</td>
                
                <td>
                    @Html.ActionLink("Измени", "EditArtical", new { id = item.IdArtikli }) |
                    @Html.ActionLink("Избриши", "DeleteArtical", new { id = item.IdArtikli })
                </td>
            </tr>
        }
    </table>
    <div class="col-md-12">
        @Html.ActionLink("Назад", "Index", "Admin", null, new { @class = "btn btn-primary" })
    </div>
</div>