﻿@model Nabavki.ViewModel.ArticalViewModel
@{
    ViewBag.Title = "AddArtical";
}

<h2>Едит Артикал</h2>


@using (Html.BeginForm("SaveArtical", "Admin"))
{
    @Html.HiddenFor(m => m.Artikli.IdArtikli)
    <div>
        @Html.LabelFor(d => d.Artikli.Sifra)
        @Html.TextBoxFor(d => d.Artikli.Sifra, new { @class = "form-control" })
    </div>
    <div>
        @Html.LabelFor(d => d.Artikli.Naziv)
        @Html.TextBoxFor(d => d.Artikli.Naziv, new { @class = "form-control" })
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Artikli.IdPartner)
        @Html.DropDownListFor(m => m.Artikli.IdPartner,
       new SelectList(Model.Partner, "IdPartner", "Naziv"), "Одбери Партнер", new { @class = "form-control" })
    </div>
    <br />
    <input type="submit" name="Save" class="btn btn-success" value="Save" />
}
<br />
<div class="form-group">
    @Html.ActionLink("Back", "Index", "Home", null, new { @class = "btn btn-primary" })
</div>

