﻿@model Nabavki.Models.Firma

@{
    ViewBag.Title = "Измени";
}

<h2>Измена на Фирма</h2>

@using (Html.BeginForm("EditFirma", "Admin"))
{
    @Html.HiddenFor(model => model.IdFirma)
    <div>
        @Html.LabelFor(d => d.Naziv)
        @Html.TextBoxFor(d => d.Naziv, new { @class = "form-control" })
    </div>

    <br />
    <input type="submit" name="Save" class="btn btn-success" value="Save" />
}
<br />
<div class="form-group">
    @Html.ActionLink("Назад", "FirmaIndex", "Admin", null, new { @class = "btn btn-primary btn-lg btn-block" })
</div>