﻿@model Nabavki.ViewModel.PartnerViewModel
@{
    ViewBag.Title = "AddPartner";
}

<h2>Измена на  Партнер</h2>

@using (Html.BeginForm("SavePartner", "Admin"))
{
    @Html.HiddenFor( m => m.Partner.IdPartner)
    <div>
        @Html.LabelFor(d => d.Partner.Naziv)
        @Html.TextBoxFor(d => d.Partner.Naziv, new { @class = "form-control" })
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Partner.IdFirma)
        @Html.DropDownListFor(m => m.Partner.IdFirma,
       new SelectList(Model.FirmaList, "IdFirma", "Naziv"), "Одбери Фирма", new { @class = "form-control" })
    </div>
    <br />
    <input type="submit" name="Save" class="btn btn-success" value="Save" />
}
<br />
<div class="form-group">
    @Html.ActionLink("Back", "Index", "Home", null, new { @class = "btn btn-primary" })
</div>