﻿@model IEnumerable<Nabavki.Models.Firma>

<h2>Фирми</h2>
<br />

<div class="col-md-12">
    @Html.ActionLink("Додади Фирма", "AddFirma", "Admin", null, new { @class = "btn btn-primary" })
</div>
<br />
<div class="col-md-12">
<table class="table table-hover">
    <thead class="thead-dark">
        <tr>
            <th>@Html.DisplayNameFor(m => m.IdFirma)</th>
            <th>@Html.DisplayNameFor(m => m.Naziv)</th>
            <th></th>
        </tr>
    </thead>
    
    @foreach(var item in Model)
    {
        <tr>
            <td>@Html.DisplayFor(modelItem => item.IdFirma)</td>
            <td>@Html.DisplayFor(modelItem => item.Naziv)</td>
            <td>
                @Html.ActionLink("Измени", "EditFirma", new { id = item.IdFirma }) |
                @Html.ActionLink("Избриши", "DeleteFirma", new { id = item.IdFirma })
            </td>
        </tr>
    }
</table>
    <div class="col-md-12">
        @Html.ActionLink("Назад", "Index", "Admin", null, new { @class = "btn btn-primary" })
    </div>
</div>