﻿
@{
    ViewBag.Title = "Index";
}

<h2 class="text-center">Index</h2>

<div class="col-md-4">@Html.ActionLink("Фирми", "FirmaIndex", "Admin", null, new { @class = "btn btn-primary btn-lg btn-block" })</div>
<div class="col-md-4">@Html.ActionLink("Партнери", "PartnerIndex", "Admin", null, new { @class = "btn btn-primary btn-lg btn-block" })</div>
<div class="col-md-4">@Html.ActionLink("Артикли", "ArticalIndex", "Admin", null, new { @class = "btn btn-primary btn-lg btn-block" })</div>

