﻿@model IEnumerable<Nabavki.Models.Partner>

<h2>Партнери</h2>
<br />

<div class="col-md-12">
    @Html.ActionLink("Додади Партнер", "AddPartner", "Admin", null, new { @class = "btn btn-primary" })
</div>
<br />
<div class="col-md-12">
    <table class="table table-hover">
        <thead class="thead-dark">
            <tr>
                <th>@Html.DisplayNameFor(m => m.IdPartner)</th>
                <th>@Html.DisplayNameFor(m => m.Naziv)</th>
                <th>@Html.DisplayNameFor(m => m.IdFirma)</th>
                <th></th>
            </tr>
        </thead>

        @foreach (var item in Model)
        {
            <tr>
                <td>@Html.DisplayFor(modelItem => item.IdPartner)</td>
                <td>@Html.DisplayFor(modelItem => item.Naziv)</td>
                <td>@Html.DisplayFor(modelItem => item.Firma.Naziv)</td>
                <td>
                    @Html.ActionLink("Измени", "EditPartner", new { id = item.IdPartner }) |
                    @Html.ActionLink("Избриши", "DeletePartner", new { id = item.IdPartner })
                </td>
            </tr>
        }
    </table>
    <div class="col-md-12">
        @Html.ActionLink("Назад", "Index", "Admin", null, new { @class = "btn btn-primary" })
    </div>
</div>